/* utilities */

* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.block {
	width: 100%;
	margin: 40px auto;
}

.block, .table {
	border-radius: 10px;
}

#page-container {
	width: 1200px;
	margin: 20px auto;
}

#main-header {
	width: 100%;
}

#logo {
	width: 200px;
	height: auto;
	margin-bottom: 30px;
}

nav ul {
	padding: 0;
	
}

nav li {
	display: inline;
	margin-right: 10px;
}

nav a {
	color: #999;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	
}

nav li:last-child {
	margin-right: 0;
}


#introduction {
	background-image: url(../img/banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	filter: brightness(80%);

	/* da rimuovere */
	height: 400px;

}

#table-container {
	margin-bottom: 10px;
	/* da rimuovere */
	background-color: #0086fe;
	
}

.clearfix::after {
	content: "";
	width: 100%;
	display: table;
}

#mini-header {
	width: 100%;
	/* da rimuovere */
	height: 60px;
	background-color: #abcfe7;

}

.table {
	float: left;
	margin: 20px 0;
	/* da rimuovere */
	height: 400px;
	background-color: #abcfe7;

	padding: 0 10px;
}

.sidebar {
	width: 25%;
}

#description {
	width: 50%;
	/* margin-left: 15px;
	margin-right: 15px; */
}

footer {
	width: 100%;
	/* da rimuovere */
	height: 50px;
	background-color: #8801fe;
	
}