/* generics */

* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #999;
}

.clearfix::after {
	clear: both;
	display: table;
	content: "";
}

/* utilities */

.block {
	width: 100%;
	margin: 40px auto;
}

.block, .card {
	border-radius: 10px;
}

#page-container {
	width: 1200px;
	margin: 20px auto;
}

/* header */

#logo {
	width: 200px;
	height: auto;
	margin-bottom: 30px;
}

nav ul {
	padding: 0;
}

nav li {
	display: inline;
	margin-right: 10px;
}

nav a {
	color: #999;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
}

nav li:last-child {
	margin-right: 0;
}

/* spotlight */

#spotlight {
	background-image: url(../img/banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	filter: brightness(80%);
}

.spotlight-article {
	padding: 70px 50px;
	margin-top: 250px;
	width: 60%;
	float: left;
}

#spotlight h2 {
	font-size: 36px;
	font-weight: normal;
}

#spotlight p {
	font-size: 20px;
	font-weight: normal;
}

/* cards section */

#cards-container {
margin-bottom: 10px;
}

#secondary-header {
	width: 100%;
}

#secondary-header h1 {
	color: #333;
}

#secondary-header h4 {
	font-weight: lighter;
	font-size: 1.2rem;
}

#secondary-header h1 {
	font-size: 2.4em;
}

.card {
	float: left;
	margin: 20px 0;
	padding: 0 10px;
}

.card-image {
	border-radius: 10px;
	width: 100%;
	height: 200px;
	filter: brightness(80%);
	margin-bottom: 20px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.card h3 {
	color: #333;
	font-weight: normal;
	margin-bottom: 10px;
}

.card p {
	font-size: 1.2rem;
	font-weight: lighter;
}

.w-25 {
	width: 20%;
}

.w-50 {
	width: 60%;
}

.card-image.money {
	background-image: url(../img/img-1.jpg);
}

.card-image.focus {
	background-image: url(../img/banner-2.jpg);
}

.card-image.idea {
	background-image: url(../img/img-3.jpg);
}

/* footer */

footer {
	width: 100%;
	font-size: 1.4rem;
	text-align: center;
}

.heart {
	color: red;
	font-size: 1.2em;
}